/**
 *--------------------------------------------------------------
 * Main.css
 *
 * Hold all the style for the Pollux Studio landing page.
 *
 * @author Tafhimul kabir <tafhimulkabir@protonmail.com>
 *
 --------------------------------------------------------------*/

/* --------------------------------------------------------------
 * Sets up some default styles for Root.
 * -------------------------------------------------------------*/
:root {
  --main--color: #444;
  --main--bg: #f0f0f0;
  --main--foreground: #fff;
  --highlight: #12B99D;
  --highlight-light: #00C9A7;
  --gray: #3c4859;
  --light--gray: #555;
  --box--shadow: rgba(162, 162, 162, 0.20);
  --inner--shadow: rgba(0, 0, 0, 0.11);
  --black: #000;
}

/* --------------------------------------------------------------
 * Sets up some default styles.
 * -------------------------------------------------------------*/
html, body, #app__main__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
body{
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4em;
  color: var(--main--color);
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
}
#app__main__container {
  background: var(--main--bg);
  height: 100%;
}
ul {
  list-style: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* --------------------------------------------------------------
 * Sets up some default styles for anchor tag.
 * -------------------------------------------------------------*/
 a {
	text-decoration: none;
	color: var(--highlight);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
 }
 a:hover {
      text-decoration: none;
      color: var(--highlight-light);
  }
a:link {
    text-decoration: none;
    color: var(--highlight-light);
}
a:active{
    text-decoration: none;
    color: var(--highlight-light);
}
a:focus{
    text-decoration: none;
    color: var(--highlight-light);
}

/* --------------------------------------------------------------
 * Sets up default styles for button.
 * -------------------------------------------------------------*/
.app__btn {
  display: inline-block;
  border: 1px solid var(--highlight);
  padding: 0.6em 1.8em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.app__btn:hover {
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 0px 0px var(--highlight);
}

/* --------------------------------------------------------------
 * Sets up default styles for span to modify text.
 * -------------------------------------------------------------*/
.app__text__color {
  color: var(--highlight);
}
.app__text__light {
  font-weight: 400;
}

/* --------------------------------------------------------------
 * Sets up default styles for outline.
 * -------------------------------------------------------------*/
*:focus {
  outline-style: solid;
  outline-width: 0.5px;
  outline-color: var(--highlight);
}

/* --------------------------------------------------------------
* Sets up default styles for selection.
* -------------------------------------------------------------*/
*::selection {
  color: var(--main--foreground);
  background: var(--highlight);
}

/* --------------------------------------------------------------
 * Sets up some default background.
 * -------------------------------------------------------------*/
.app__bg__pattern {
  display: flex;
  position: absolute;
  background-image: radial-gradient(var(--gray) 2px,transparent 0);
  background-size: 15px 15px;
  background-position: 0 0;
  opacity: 0.3;
  margin: auto;
  z-index: 999999999;
}

/* --------------------------------------------------------------
 * Sets up some style for horizontal rule.
 * -------------------------------------------------------------*/
hr {
  position: relative;
  width: 50px;
  height: 12px;
  overflow: hidden;
  border: none;
}
hr::before {
  content: 'sss';
  font-size: 3em;
  position: absolute;
  top: -29px;
  left: -3px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--highlight-light);
}

/* --------------------------------------------------------------
 * Sets up media query for container.
 * -------------------------------------------------------------*/
.app__container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 7680px) {
  .app__container {
    max-width: 1920px;
  }
}

@media (max-width: 7679px) and (min-width: 2560px) {
  .app__container {
    max-width: 1440px;
  }
}

@media (max-width: 2559px) and (min-width: 1920px) {
  .app__container {
    max-width: 1200px;
  }
}

@media (max-width: 1919px) and (min-width: 1366px) {
  .app__container {
    max-width: 1024px;
  }
}

@media (max-width: 1365px) and (min-width: 992px) {
  .app__container {
    max-width: 768px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .app__container {
    max-width: 90%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .app__container {
    max-width: 90%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .app__container {
    max-width: 100%;
  }
}
 
/* --------------------------------------------------------------
* Styling main header selection.
* -------------------------------------------------------------*/
#app__main__container .app__main__header {
  display: flex;
  padding: 1em 0;
}
/* Styling header logo selection. */
#app__main__container .app__main__header img {
  height: 25px;
  width: auto;
  margin-right: 20px;
}
/* Styling header navigation selection. */
#app__main__container .app__main__header  .app__header_navigation {
  flex-grow: 1;
}
#app__main__container .app__main__header  .app__header_navigation ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.4em;
}
#app__main__container .app__main__header  .app__header_navigation ul li a {
  color: var(--main--color);
}

/* --------------------------------------------------------------
* Styling hero selection.
* -------------------------------------------------------------*/
#app__hero__section {
  position: relative;
}
#app__hero__section .app__hero__container {
  display: flex;
  align-items: center;
  padding: 7em 0;
}

/*Styling background pattern*/
#app__hero__section .app__bg__pattern__top__left {
  height: 50px;
  width: 60px;
  top: 29px;
  left: 62px;
}
#app__hero__section .app__bg__pattern__top__right {
  height: 75px;
  width: 150px;
  top: 195px;
  left: 255px;
}
#app__hero__section .app__bg__pattern__top__center {
  height: 85px;
  width: 80px;
  top: 70px;
  right: 60px;
}
#app__hero__section .app__bg__pattern__bottom__left {
  height: 60px;
  width: 90px;
  bottom: 5px;
  left: 5px;
}
#app__hero__section .app__bg__pattern__bottom__right {
  height: 40px;
  width: 95px;
  bottom: 170px;
  right: 185px;
}
/* Styling hero selection's Title and Subtitle */
#app__hero__section .app__hero__container .app__main__title__and__subtitle h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  margin-bottom: 0.8em;
  letter-spacing: 1px;
}
#app__hero__section .app__hero__container .app__main__title__and__subtitle {
  flex: 1;
}
#app__hero__section .app__hero__container .app__main__title__and__subtitle h2 {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6em;
}
/* Styling hero selection's image */
#app__hero__section .app__hero__container .app__hero__image {
  flex: 2;
}

/* --------------------------------------------------------------
* Styling services selection.
* -------------------------------------------------------------*/
#app__services__section {
  background: var(--main--foreground);
  padding: 8em 0;
}
#app__services__section .app__services__section__container {
  display: flex;
}
#app__services__section .app__services__section__container .app__services__sidebar {
  flex: 1;
  padding-right: 20px;
  box-sizing: border-box;
}
#app__services__section .app__services__section__container .app__services__sidebar h2 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

#app__services__section .app__services__section__container .app__services__sidebar p {
  font-size: 0.9rem;
  line-height: 1.6em;
}
#app__services__section .app__services__section__container .app__actual__services__wrapper {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#app__services__section .app__services__section__container .app__single__service {
  text-align: center;
  width: 30.999%;
  box-shadow: 0 2px 5px -1px var(--box--shadow);
  box-sizing: border-box;
  padding: 35px 10px 25px;
  border-radius: 3px;
}
#app__services__section .app__services__section__container .app__single__service h3 {
  font-size: 0.85rem;
}
#app__services__section .app__services__section__container .app__single__service .icon {
  font-size: 2.2rem;
}
#app__services__section .app__services__section__container .app__single__service p {
  font-size: 0.9rem;
  letter-spacing: 0.02em;
}
#app__services__section .app__services__section__container .app__single__service a {
  font-size: 0.65rem;
}

/* --------------------------------------------------------------
* Styling about selection.
* -------------------------------------------------------------*/
#app__about__section .app__services__section__container {
  display: flex;
  padding: 8em 0;
  gap: 5em;
}
#app__about__section .app__services__section__container .app__about__picture {
  flex: 1;
  border: 2px solid var(--highlight);
}
#app__about__section .app__services__section__container .app__about__picture img {
  position: relative;
  display: block;
  top: -6px;
  left: -10px;
}
#app__about__section .app__services__section__container .app__about__section {
  flex: 1;
  text-align: left;
}
#app__about__section .app__services__section__container .app__about__section h3 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
#app__about__section .app__services__section__container .app__about__section .app__about__header h2 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
#app__about__section .app__services__section__container .app__about__section p {
  font-size: 0.9rem;
  line-height: 1.6em;
}
#app__about__section .app__services__section__container .app__about__section .app__about__btn__group {
  display: flex;
  gap: 0.5em;
}

/* --------------------------------------------------------------
* Styling about selection.
* -------------------------------------------------------------*/



/* --------------------------------------------------------------
* Styling about social media selection.
* -------------------------------------------------------------*/



/* --------------------------------------------------------------
* Styling services selection.
* -------------------------------------------------------------*/



/* --------------------------------------------------------------
* Styling portfolio selection.
* -------------------------------------------------------------*/



/* --------------------------------------------------------------
* Styling team selection.
* -------------------------------------------------------------*/
#app__core__team__section .app__team__section__container {
  padding: 5em 0;
  text-align: center;
}
#app__core__team__section .app__team__section__container .app__team__section__header h2 {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper {
  display: flex;
  gap: 1.5em;
  margin: 5em 0 3.5em;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member {
  background-color: var(--main--foreground);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 5px -1px var(--box--shadow);
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member .app__single__member__info {
  padding: 8px 15px 5px;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__member__info h3 {
  font-size: 1rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  padding: 0;
  margin-bottom: 5px;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__member__info h4 {
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--light--gray);
}

#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member p {
  font-size: 0.8rem;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member footer ul {
  display: flex;
  gap: 1.2em;
  justify-content: center;
  padding-bottom: 1.2em;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member footer ul li a {
  color: var(--main--color);
  font-size: 1rem;
}
#app__core__team__section .app__team__section__container .app__team__body__wrapper .app__single__team__member footer ul li a:hover {
  color: var(--highlight);
}

/* --------------------------------------------------------------
* Styling contact selection.
* -------------------------------------------------------------*/


/* --------------------------------------------------------------
* Styling FAQ selection.
* -------------------------------------------------------------*/


/* --------------------------------------------------------------
* Styling top footer selection.
* -------------------------------------------------------------*/

/* --------------------------------------------------------------
* Styling main footer selection.
* -------------------------------------------------------------*/