/**
 *--------------------------------------------------------------
 * Main.css
 *
 * Hold all the style for the Pollux Studio landing page.
 *
 * @author Tafhimul kabir <tafhimulkabir@protonmail.com>
 *
 --------------------------------------------------------------*/

/* --------------------------------------------------------------
 * Sets up some default styles for Root.
 * -------------------------------------------------------------*/
  :root {
    --main-color: #444;
    --main-bg: #f4f4f4;
    --highlight: #00c9a7;
    --highlight-light: #5aecd3;
    --gray: #ccc;
    --white: #fff;
  }

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 200;
}
  
  body {
    line-height: 1.6;
    background-color: var(--main-bg);
    color: var(--main-color);
  }

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 1.8em;
  }
/* --------------------------------------------------------------
 * Sets up media query for container.
 * -------------------------------------------------------------*/
  .app__container {
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;
  }

  @media (min-width: 7680px) {
    .app__container {
      max-width: 1920px;
    }
  }

  @media (max-width: 7679px) and (min-width: 2560px) {
    .app__container {
      max-width: 1440px;
    }
  }

  @media (max-width: 2559px) and (min-width: 1920px) {
    .app__container {
      max-width: 1200px;
    }
  }

  @media (max-width: 1919px) and (min-width: 1366px) {
    .app__container {
      max-width: 1024px;
    }
  }

  @media (max-width: 1365px) and (min-width: 992px) {
    .app__container {
      max-width: 768px;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .app__container {
      max-width: 90%;
    }
  }

  @media (max-width: 767px) and (min-width: 576px) {
    .app__container {
      max-width: 90%;
    }
  }

  @media (max-width: 575px) and (min-width: 320px) {
    .app__container {
      max-width: 100%;
    }
  }
  
/* --------------------------------------------------------------
 * Sets up some default styles for heading tag.
 * -------------------------------------------------------------*/
 h1,h2,h3,
 h4,h5,h6 { 
    font-weight: 700; 
    color: var(--main-color);
}
h1 {  font-size: 2.6rem; line-height: 1.2em; margin-bottom: 0.8em; letter-spacing: 1px; }
h2 { font-size: 1.3rem; margin-bottom: 0.1em; letter-spacing: 0.5px; }
h3 { font-size: 0.85rem;
  line-height: 1;
  margin-bottom: 0.5em;
  letter-spacing: 0.02em; }
  h4 {
    font-size: 0.75rem;
    line-height: 1.25;
    margin: 0.8em;
    font-weight: 300;
    letter-spacing: 0.1em;
  }
/* h5 { font-size: 1rem; margin-bottom: 1.5em; }
h6 { font-size: 1rem; } */
  
/* --------------------------------------------------------------
 * Sets up some default styles for section header.
 * -------------------------------------------------------------*/
 .app__section__header {
  text-align: center;
  margin-bottom: 1em;
}
/* h2 {
  font-size: 1.4rem;
  margin-bottom: 0.1em;
} */

/* --------------------------------------------------------------
 * Sets up some default styles for anchor tag.
 * -------------------------------------------------------------*/
 a {
	text-decoration: none;
	color: var(--highlight);
 }
 a:hover {
      text-decoration: none;
      color: var(--highlight-light);
  }
a:link {
    text-decoration: none;
    color: var(--highlight-light);
}
a:active{
    text-decoration: none;
    color: var(--highlight-light);
}
a:focus{
    text-decoration: none;
    color: var(--highlight-light);
}

/* --------------------------------------------------------------
 * Sets up some default styles for list tag.
 * -------------------------------------------------------------*/
 ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
 }

/* --------------------------------------------------------------
 * Sets up default styles for button.
 * -------------------------------------------------------------*/
.app__btn {
  display: inline-block;
  background-color: var(--highlight);
  color: var(--white);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.app__btn:hover {
  background-color: var(--highlight-light);
  color: var(--main-color);
}


/* --------------------------------------------------------------
 * Sets up default styles for border.
 * -------------------------------------------------------------*/
.app__border {
  background-color: var(--highlight-light);
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  margin: 10px 0;
}

/* --------------------------------------------------------------
 * Sets up default styles for input fields.
 * -------------------------------------------------------------*/
input, textarea {
  border: 1px solid var(--gray);
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
  margin-bottom: 1.4em;
}

/* --------------------------------------------------------------
 * Sets up default styles for outline.
 * -------------------------------------------------------------*/
 *:focus {
  outline-style: solid;
  outline-width: 0.5px;
  outline-color: var(--highlight-light);
}

/* --------------------------------------------------------------
* Sets up default styles for selection.
* -------------------------------------------------------------*/
*::selection {
  color: var(--white);
  background: var(--highlight);
}

/* --------------------------------------------------------------
* Styling main header selection.
* -------------------------------------------------------------*/
 .app__header {
  display: flex;
  padding: 10px 0;
}

.app__header img {
  height: 30px;
  margin-right: 20px;
}

.app__header nav {
  flex-grow: 1;
  text-align: right;
}

.app__header nav ul {
  list-style-type: none;
}

.app__header nav ul li {
  margin: 0 10px;
  display: inline-block;
}

.app__header nav ul li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 300;
}
.app__header nav ul li a:hover {
  color: var(--highlight);
  text-decoration: none;
}

/* --------------------------------------------------------------
* Styling hero selection.
* -------------------------------------------------------------*/
.app__hero__section {
  display: flex;
  align-items: center;
}
.app__hero__section .left {
  flex: 1;
}
.app__hero__section .right {
  flex: 2;
}
.app__hero__section .right img {
  width: 100%;
}

/* --------------------------------------------------------------
* Styling about and services selection.
* -------------------------------------------------------------*/
#services {
  background: var(--white);
}

#services .app__container {
  display:  flex;
  column-gap: 2em;
}

/* --------------------------------------------------------------
* Styling about selection.
* -------------------------------------------------------------*/
#services .app__about {
  flex: 1;
  border-right: 1px solid #e3e3e3;
  padding-right: 2em;
  box-sizing: border-box;
}
#services .app__about p {
  font-size: 14px;
  font-weight: 200;
  color: #686868;
  letter-spacing: 0.3px;
  line-height: 18px;
}
#services .app__about h4 {
  font-size: 16px;
  font-weight: 100;
  color: #757575;
  text-transform: uppercase;
  margin: 0;
}
#services .app__about h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 12px;
  color: #444;
}

/* --------------------------------------------------------------
* Styling about social media selection.
* -------------------------------------------------------------*/
.app__about__social__link ul {
  list-style: none;
}
.app__about__social__link ul li {
  display: inline-block;
}
.app__about__social__link ul li a {
  color: var(--main-color);
  display: block;
  margin: 0.6em;
}

/* --------------------------------------------------------------
* Styling services selection.
* -------------------------------------------------------------*/

#services .app__services {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
#services .app__single__service {
  flex-basis: 33%;
  display: flex;
  column-gap: 1em;
}

#services .app__icon {
  font-size: 28px;
  color: #666;
}

.app__services__info h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  color: #626262;
  font-weight: 400;
  letter-spacing: .4px;
}

.app__services__info p {
  font-size: 14px;
  font-weight: 200;
  color: #686868;
  letter-spacing: 0.3px;
  line-height: 18px;
}

/* --------------------------------------------------------------
* Styling portfolio selection.
* -------------------------------------------------------------*/
#portfolio {
  
}
#portfolio .app__container {
 padding: 60px 0 0;
}

/* --------------------------------------------------------------
* Styling team selection.
* -------------------------------------------------------------*/
#team {
  background: #fff;
}
.app__member__body__wrapper {
  display: flex;
  gap: 1.3em;
  text-align: center;
}
.app__single__member {
  box-sizing: border-box;
  padding: 45px 15px 30px;
  box-shadow: 0 0 4px 2px #53525214;
  border-radius: 4px;
}
.app__single__member img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.app__single__member p {
  font-size: 0.85rem;
}
.app__single__member ul li {
  display: inline-block;
}
.app__single__member ul li a {
  display: block;
  margin: 0 0.5em;
  color: var(--main-color);
}

/* --------------------------------------------------------------
* Styling contact selection.
* -------------------------------------------------------------*/
.app__contact__section {
  display: flex;
  gap: 4em;
}
.app__input__group {
  display: flex;
  gap: 1em;
}
.app__input__wrapper label {
  display: block;
  margin: 8px 0;
  font-weight: 200;
}
.app__input__wrapper .app_input__group {
  position: relative;
}
.app__input__wrapper .app_input__group .icon {
  left: 2px;
  position: absolute;
  padding: 10px 13px;
  pointer-events: none;
  color: #a6a6a6;
  top: 2px;
  font-size: 16px;
}

.app__input__wrapper .app_input__group input, textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid;
  border-color: #f1f1f1;
  box-sizing: border-box;
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.11);
  
}
#message {
  height: 75px;
}


/* --------------------------------------------------------------
* Styling main footer selection.
* -------------------------------------------------------------*/
#main_footer {
  background: #fff;
  text-align: center;
  padding: 20px 0 5px;
}