.app__header {
    background-color: rgba(249, 252, 255, 0.8); 
    background-image: linear-gradient(147deg, rgba(249, 252, 255, 0.8) 0%, rgba(222, 228, 234, 0.8) 74%);


    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    min-height: 500px;

    #app__main__header {
        padding: 1em 0;

        // Header Logo Style
        a {
            &.app__header__logo {
                display: inline-block;
                padding: 0.5em 1em 0.5em 0;

                img {
                    height: 22px;
                    width: auto;
                    max-width: 138px;
                }
            }
        }

        // Navigation Style
        .navigation__main__wrapper {

            // Main Navigation Style
            #app__main__navigation {
                ul {
                    justify-content: flex-end;
                    li {
                        position: relative;
                        a {
                            display: inline-block;
                            padding: 0.5em 0;
                            font-size: 0.7rem;
                            color: #6f598f !important;
                            font-weight: 300;
                            letter-spacing: 0.2em;
                        }


                        .app__menu__hover {
                            display: block;
                            height: 1.4px;
                            width: 20px;
                            background: #6f598f;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }

            // Show Mobile Menu One Click
            .app__show__mobile__menu {
                display: block !important;
                @include absolute_fill();
                position: fixed;
                background: #fff;
                z-index: 999;
                ul {
                    flex-direction: column;
                }
            }

            // Mobile Menu Style
            .app__mobile__menu__button__wrapper {
                display: flex;
                justify-content: flex-end;
                .app__mobile__menu__btn {
                    background: transparent;
                    margin: 0;
                    padding: 0;
                    // padding: 0.5em 0 0.5em 0.5em;
                    border: none;
                    display: none;
                    cursor: pointer;
                    position: relative;
                    span {
                        display: inline-block;
                        height: 2px;
                        width: 20px;
                        background: #333;
                        border-radius: 10px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            right: 0px;
                            width: 14px;
                            height: 2px;
                            background: #333;
                            border-radius: 10px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            right: 1px;
                            width: 14px;
                            height: 2px;
                            background: #333;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 800px) {
    .app__header {
        #app__main__header {
            .navigation__main__wrapper {
                #app__main__navigation {
                    display: none;
                }
                .app__mobile__menu__button__wrapper {
                    .app__mobile__menu__btn {
                        display: block;
                    }
                }
            }
        }
    }
}