.app__header {
    background-color: rgba(249, 252, 255, 0.7); 
    background-image: linear-gradient(147deg, rgba(249, 252, 255, 0.7) 0%, rgba(222, 228, 234, 0.7) 74%);


    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    min-height: 500px;


    // Background Animation
    .app__background {
        position: absolute;
        background-color: rgba(249, 252, 255, 1); 
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .app__background__blob {
            position: absolute;
            width: 500px;
            height: 500px;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            background: linear-gradient(300deg,#25c7d9,rgb(10, 157, 135),#ade267);
            top: 5%;
            left: 10%;
            filter: blur(40px);
            animation: blob-animation 15s ease infinite;
        }

        .app__background__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(249, 252, 255, 0.5); 
            background-image: linear-gradient(147deg, rgba(249, 252, 255, 0.5) 0%, rgba(222, 228, 234, 0.5) 74%);
        }

        .app__background__pattern {
            display: flex;
            position: absolute;
            background-image: radial-gradient(#444 2px, transparent 0);
            background-size: 18px 18px;
            background-position: 0 0;
            opacity: 0.2;
            margin: auto;
            // z-index: 999999999;
            height: 140px;
            width: 120px;
            bottom: 8%;
            right: 2%;
            animation: pattern-animation 5s ease infinite;
        }

        .app__background__floating__icon {
            position: absolute;
            height: 100%;
            width: 100%;

            .app__header__icon {
                position: absolute;
                font-size: 3rem;
                color: $color__highlight;
                opacity: 0.8;
            }


            .app__icon__close {
                bottom: 29%;
                right: 12%;
              }
            .app__icon__cube {
                top: 18%;
                left: 5%;
              }
            .app__icon__ellipse {
                bottom: 25%;
                left: 35%;
              }
            .app__icon__prism {
                bottom: 17%;
                right: 32%;
              }
            .app__icon__square {
                top: 35%;
                left: 55%;
              }
            .app__icon__triangle {
                bottom: 10%;
                left: 6%;
              }
            .app__icon__planet {
                top: 18%;
                right: 4%;
              }
          }

        @keyframes blob-animation {
            0% {
                background-position: 0% 50%;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                top: 10%;
                left: 8%;
            }
            25% {
                background-position: 45% 50%;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                top: 15%;
                left: 16%;
            }
            50% {
                background-position: 100% 50%;
                border-radius: 30% 70% 24% 76% / 61% 28% 72% 39%;
                top: 20%;
                left: 20%;
            }
            75% {
                background-position: 60% 50%;
                border-radius: 30% 70% 24% 76% / 61% 28% 72% 39%;
                top: 12%;
                left: 15%;
            }
            100% {
                background-position: 0 0;
                border-radius: 49% 51% 64% 36% / 39% 45% 55% 61%; 
                top: 10%;
                left: 5%;
            }
        }

        @keyframes pattern-animation {
            0% {
                bottom: 8%; 
            }
            50% {
                bottom: 10%;
            }
            100% {
                bottom: 8%;
            }
        }
    }





    .app__header__wrapper {
        position: relative;
        height: 100%;
    }





    .app__header__sticky {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 99999999999999;
    }
    
    #app__main__header {
        padding: 1em 0;

        // Header Logo Style
        a {
            &.app__header__logo {
                display: inline-block;
                padding: 0.5em 1em 0.5em 0;

                img {
                    height: 22px;
                    width: auto;
                    max-width: 138px;
                }
            }
        }

        // Navigation Style
        .navigation__main__wrapper {

            // Main Navigation Style
            #app__main__navigation {
                ul {
                    justify-content: flex-end;
                    li {
                        position: relative;
                        a {
                            display: inline-block;
                            padding: 0.5em 0;
                            font-size: 0.7rem;
                            color: $color__dark__black !important;
                            font-weight: 500;
                            letter-spacing: 0.2em;
                        }


                        .app__menu__hover {
                            display: none;
                            height: 1.5px;
                            width: 100%;
                            background: $color__highlight;
                            position: absolute;
                            right: 0;
                        }

                        &.app__active__menu .app__menu__hover {
                            display: block;
                            width: 60%;
                            transition: all 0.3s ease-in-out;
                        }
                        &.app__active__menu:hover .app__menu__hover {
                            width: 100%;
                        }

                        &:hover .app__menu__hover {
                            display: block;
                            animation: menu-hover 0.3s ease-in-out;
                        }

                        @keyframes menu-hover {
                            from {
                                width: 60%;
                            }
                            to {
                                width: 100%;
                            }
                        }
                    }
                    
                }
            }

            // Show Mobile Menu One Click
            .app__show__mobile__menu {
                display: block !important;
                @include absolute_fill();
                position: fixed;
                background: $color__bg;
                z-index: 999;
                ul {
                    flex-direction: column;
                }
            }

            // Mobile Menu Style
            .app__mobile__menu__button__wrapper {
                display: flex;
                justify-content: flex-end;
                .app__mobile__menu__btn {
                    background: transparent;
                    margin: 0;
                    padding: 0;
                    // padding: 0.5em 0 0.5em 0.5em;
                    border: none;
                    display: none;
                    cursor: pointer;
                    position: relative;
                    span {
                        display: inline-block;
                        height: 2px;
                        width: 20px;
                        background: #333;
                        border-radius: 10px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            right: 0px;
                            width: 14px;
                            height: 2px;
                            background: #333;
                            border-radius: 10px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            right: 1px;
                            width: 14px;
                            height: 2px;
                            background: #333;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 1700px) {
    .app__header {
        #app__main__header {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}
@media (max-width: 1100px) {
    .app__header {
        #app__main__header {
            .navigation__main__wrapper {
                #app__main__navigation {
                    display: none;
                    width: 300px !important;
                    min-width: 300px !important;
                    padding: 1em;
                }
                .app__mobile__menu__button__wrapper {
                    .app__mobile__menu__btn {
                        display: block;
                    }
                }
            }
        }
    }
}