#app__footer {
    #app__main_footer {
        .app__main__footer__container {
            border-top: 1px solid #f0f0f0;
            p {
                font-size: 0.85rem;
                font-weight: 300;
                padding: 1em 0;
                color: #444;
            }
        }
    }
}  
@media (max-width: 800px) {
    #app__footer {
        #app__main_footer {
            .app__main__footer__container {
                text-align: center;
            }
        }
    } 
}
