  /* Styling main footer selection */
  #app__top__footer .app__footer__container .app__main__footer header img {
    height: 25px;
    margin-bottom: 1em;
  }
  #app__top__footer .app__footer__container article p {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }
  #app__top__footer .app__footer__container .app__main__footer__copyright p {
    font-size: 0.9rem;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--main--bg);
  }