#app__services {
    position: relative;
    overflow: hidden;

    .app__background {
        @include absolute_fill();

        .app__background__blob {
            width: 500px;
            height: 500px;
            background: $color__highlight;
            border-radius: 100%;
            filter: blur(150px);
            position: absolute;
            right: -150px;
            top: -150px;
        }

        .app__background__overlay {
            @include absolute_fill();
            // background: rgba($color: $color__bg, $alpha: 0.9);
            background: rgba(249,252,255,0.8);;
        }


        .app__background__floating__icon {

            .app__icon {
                position: absolute;
                font-size: 3rem;
                color: $color__highlight;
            }

            .app__icon__cube {
                top: 24%;
                right: 8%;
              }


        }
    }

    .app__services__container {

        position: relative;

        // Service Header
        .app__service__header {

        }

        // Service Container
        .app__actual__services  {
            .app__single__service__wrapper  {
                flex-direction: column;

                // Service Icon
                .app__single__service__icon  {
                    font-size: 2rem;
                    color: $color__highlight;
                }

                // Service Information 
                .app__single__service__info {
                    h3 {
                        font-size: 1rem;
                        margin: 0;
                    }
                    span.app__line {

                    }
                    p {
                        // margin-top: 1em;
                    }
                }
            }
        }

    }
}

@media (max-width: 860px) {
    #app__services {
        .app__services__container {
            .app__actual__services  {
                flex-direction: column;

                .app__single__service__wrapper  {
                    flex-direction: row;
                }
            }
        }
    }    
}