#app__footer {
    #app__top_footer {
        .app__top__footer__container {
            padding: 9em 0 4em;

            .app__footer__about {
                a {
                    display: inline-block;
                    margin-bottom: 1em;
                    img {
                        height: 22px;
                        width: auto;
                        max-width: 138px;
                    }
                }
                p {
                    font-size: 0.85rem;
                    color: #444;
                    line-height: 1.5rem;
                }
            }

            .app__footer__link {
                .app__footer__link__wrapper {

                    .app__footer__link__header {
                        h3 {
                            display: inline-block;
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 0.8rem;
                            letter-spacing: 0.02em;
                            margin: 0 0 1.4em;
                        }
                    }

                    .app__footer__links {
                        ul {
                            li {
                                a {
                                    font-size: 0.8rem;
                                    font-weight: 400;
                                    color: #444;
                                    text-transform: capitalize;
                                    margin-bottom: 1.2em;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }


  @media (max-width: 980px) {
    #app__footer {
        #app__top_footer {
            .app__top__footer__container {
                flex-direction: column-reverse;
            }
        }
    } 
  }

  
  @media (max-width: 700px) {
    #app__footer {
        #app__top_footer {
            .app__top__footer__container {
                flex-direction: column-reverse;

                .app__footer__about {
                    padding: 0 1em;
                }
                
                .app__footer__link {
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    } 
  }