#app__why__choose__us {
    .app__why__choose__us__container {

        .app__why__choose__us__slider {
            overflow: hidden;
            position: relative;
             .app__why__choose__us__slider {
                img {

                }
             }

             .app__why__choose__us__carousel__wrapper {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 98%;
                z-index: -2;
                border-radius: 50px;
                overflow: hidden;
              }
        }

        .app__why__choose__us__text  {
            .app__why__choose__us__header {
                margin-bottom: 3.6em;

                h2 {
                    font-size: 2.4rem;
                    letter-spacing: 0.03em;
                    line-height: 3rem;
                    font-weight: 900;
                    margin-bottom: 0.8em;
                }
            }

            .app__why__choose__us__list {

                ul {
                    li {
                        font-size: 0.9rem;
                        text-transform: capitalize;
                        font-weight: 300;
                        color: $color__light__black;
                        margin-bottom: 1.6em;

                        span {
                            background: $color__highlight;
                            display: flex;
                            padding: 4px;
                            border-radius: 100%;
                            color: $color__bg;
                            font-size: 1.2rem;
                            margin-top: 0.4em;
                        }

                        em {

                        }
                    }
                }

                .app__why__choose__us__list__footer {
                    font-size: 0.8rem;
                    margin-top: 4em;
                    color: $color__light__black;
                    padding-top: 2em;
                    border-top: 1px dashed rgba($color__light__black, 0.2);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #app__why__choose__us {
        .app__why__choose__us__container {
            flex-direction: column;
        }
    }
}
