@mixin absolute_fill() {
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


@mixin custom_box_shadow($offset-x, $offset-y, $blur-radius, $spread, $color, $opacity: 1) {
    $shadow-color: rgba($color, $opacity);
    box-shadow: $offset-x $offset-y $blur-radius $spread $shadow-color;
}