$main-color: #6f598f;
$bg-color: #f3f3ff;

$primary-1: #F44336;
$primary-1: #1E88E5;
$primary-1: #FDD835;
$border: #CDD9ED;
$border-hover: #99A3BA;
$text-color: #6C7486;
$text-color-headline: #3F4656;
